    <div class="container footer">
        <div class="row-flex">
            <div class="col-sm-10">
                Some copy rights/ trademark stuff maybe,
            </div>
            <div class="col-sm-2">
                <a href="/admin">Admin Login</a>
            </div>
        </div>
    </div>
    </body>
</html>