<!DOCTYPE html>
<html>
    <head>
    	<title>EAL Surfer</title>
    	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/surfer.css">
    	<script type="text/javascript" src="/js/form.js" defer></script>
    </head>
<body>
    <div class="container surferpage" id="banner">
      <div class="row banner"><a href="/form"><div class="container"><img src=""><h1>Hawaii Department of Health</h1></div></a></div>
    </div>
   