<% include partials/header %>
<nav class="navbar" id="surfernav">
   <div class="container nav-std">
     <div class="row nav-std">
       <div class="col-md-3 col-xs-10 nav-std"><h3><strong><a href="/form">EAL Surfer</a></strong></h3></div>
     </div>
   </div>
</nav>
<div class="container ealsurfer admin">
    <div class="row-flex">
        <h3>Master Spreadsheet File Upload</h3>
        <p>Click below to upload the current EAL Surfer Excel spreadsheet file. <br>(Note: This file will overwrite the existing file.)</p>
        <label class="btn btn-default btn-file">
            Choose File <input type="file" style="display: none;">
        </label>
    </div>
</div>
<% include partials/footer %>