<% include partials/header %>
<div class="container displayarea">
    <div class="row admin" id="displaytitle">
        <h3>Master Spreadsheet Upload</h3>
        <p>Click below to upload the current EAL Surfer Excel spreadsheet file. <br>(Note: This file will overwrite the existing file.)</p>
    </div>
		<div class="row">
    <!-- Notes / HU Display -->
		<div class="col s12 m4 push-m8 push-l10">
			<h5>Attention</h5>
			<ol>
			    <li>File extension must be xlsx. (example.xlsx) </li>
			    <li>If there are extensive format-changes or sheet tabs have changed index please contact the system administrator before uploading.</li>
			</ol>
		</div>
      <!--Form Display Area -->
		<div class="col s12 m8 pull-m4 pull-l2">
     
		</div>
	</div>






<% include partials/footer %>