<div class="row">
    <div class="col m3 push-m9 infoblock">
        <h6 class="infotitle">Note</p></h6>
        <p>
            Your forms will be available for download in the archive for up to
            one year.
        </p>
    </div>
  	<div class="col m9 pull-m3 section">
        <div class="infotitle">
            <h4>PDFs complete!</h4>
            <p>Click below to download your files.</p>
            <a href="<%=downloadLink%>" class="waves-effect waves-light btn">Download<i class="material-icons">file_download</i></i></a>
        </div>
	</div>
</div>
<div class="row" style="height: 300px"></div>