<% include partials/header %>
<div class="container displayarea">
    <div class="row admin" id="displaytitle">
        <h3>EAL Surfer Excel File</h3>
        <p>Click below to download the current EAL Surfer Excel spreadsheet file.</p>
        <a href="/download" class="waves-effect waves-light btn">Download<i class="material-icons">file_download</i></i></a>
    </div>
		<div class="row">
    <!-- Notes / HU Display -->
		<div class="col">
             
		</div>
	</div>
</div>
<% include partials/footer %>