<% include partials/header %>
    <div class="container maindisplay">
		<div class="row">
		    <div class="col m3 push-m9 infoblock">
                <h6 class="infotitle">Note</p></h6>
                <p>
                    Download the most current version of the EAL Surfer Excel Document.
                </p>
            </div>
  			<div class="col m9 pull-m3 section">
                <div class="infotitle">
                    <h3>EAL Surfer Excel File</h3>
                    <p>Click below to download the current EAL Surfer Excel spreadsheet file.</p>
                    <a href="/download" class="waves-effect waves-light btn">Download<i class="material-icons">file_download</i></i></a>
                </div>
    		</div>
    	</div>
    	<div class="row" style="height: 300px"></div>
    </div>
<% include partials/footer %>