<% include partials/header %>
<div id="submitted">
<div class="container" id="EALSurfer">
  <div class="row"><a href="/form"><div class="container"><h1>EAL Surfer</h1></div></a></div>
  <div class="row flex">
    <div class="col-lg-8 col-sm-8">
          <form id="form">
        <label for="step1">Select Site Scenario</label>
        <div class="container form-group section" id="step1">
          <label for="landUse">Land Use</label>
          <select class="form-control" id="landUse">
            <option>Unrestricted</option>
            <option>Commercial/Industrial Use Onlys</option>
          </select>
          <label for="groundWaterUtility">Groundwater Utility</label>
          <select class="form-control" id="groundWaterUtility">
            <option>Drinking Water Resrouce</option>
            <option>Nondrinking Water Resorce</option>
          </select>
          <label for="distanceToWater">Distance To Nearest Surface Water Body</label>
          <select class="form-control" id="distanceToWater">
            <option> &lt150m</option>
            <option>&lt150m</option>
          </select>
        </div>
        
        <label for="step2">Select Contaminant</label>
        <div class="container form-group section" id="step2">
          <label class="form-check-label" for="chemicalInputType"> Chemical Input Type </label>
          <div id="chemicalInputType">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option1"> Chemical Name
            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="option2"> CAS#
          </div>
          <select class="form-control" id="chemical" placeholder="Chemical">
            <option>Chem 1</option>
            <option>Chem 2</option>
            <option>Chem 3</option>
            <option>Chem 4</option>
            <option>Chem 5</option>
          </select>
        </div>
        <label for="step3">Enter Site Data</label>
        <div class="container form-group section" id="step3">
          <label for="soil">Soil (mg/kg)</label>
          <input type="number" class="form-control" id="soil">
          <label for="groundWater">Groundwater (ug/kg)</label>
          <input type="number" class="form-control" id="groundWater">
          <label for="soilVapor">Soil Vapor (ug/kg)</label>
          <input type="number" class="form-control" id="soilVapor">
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" id="generate">Generate Forms</button>
      </form>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="infoblock" id="finaleals">
        <h4 id="chemicalinfotitle"></h4>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>
<%include partials/footer%>