<% include partials/header %>
<!-- Display Region -->

	<div class="container displayarea">
    <!-- Display Title Banner -->
    <div class="row">
      <div class="col s12 m8 pull-m4 push-m2" id="displaytitle">
        <h3>EAL Surfer Form</h3>
      </div>
    </div>
		<div class="row">
    <!-- Notes / HU Display -->
			<div class="col s12 m4 push-m8 push-l10">
				<div class="section infoblock">
          			<h6 class="infotitle">Reference</p></h6>
			          <p>
			            HDOH 2016, Evaluation of Environmental Hazards at Sites with Contaminated Soil and Groundwater (Summer 2016): Hawai'i Department of Health, Hazard Evaluation and Emergency Response, <a href="http://hawaii.gov/health/environmental/hazard/index.html">Hawaii DOH</a>			
			          </p>
				</div>
        <div class="section" id="warning"></div>
				<div class="section">
					<div class="infoblock tooltipped" data-position="left"  data-delay="50" data-tooltip="Final EALs for last chemical added." id="finaleals">
            <h6 class="infotitle" style="font-size:1.5em" id="chemicalinfotitle"></h6>
            <h6 class="infotitle">Final EALs</h6>
            <hr>
            <div class="row">
              <div class="col m8">
                <p>Soil (mg/kg)</p>
                <p>Groundwater (ug/kg)</p>
                <p>Soil Vapor (ug/kg)</p>
              </div>
              <div class="col m4" id="refeals">
                
              </div>
            </div>
          </div>
				</div>
				<div class="section infoblock" id="notes">
            <h6 class="infotitle">Notes</p></h6>
            <p>Chemical specifc notes will go here. The Excel Document responds to the users choice in the chemical dropdown list and changes the note.</p>
				</div>
			</div>
      <!--Form Display Area -->
		<div class="col s12 m8 pull-m4 pull-l2">
      <div class="section">
        <div class="row">
          <h5>Site Information</h5>
          <div class="input-field col s12 m8">
            <input type="text" placeholder="Site Name" id="sitename"></input>
            <label for="sitename">Site Name</label>
          </div>
          <div class="input-field col s12 m4">
                    <input type="date" id="sitedate"></input>
                    <label for="sitedate" class="active" >Date of Search:</label>
          </div>
          <div class="input-field col s12">
            <input type="text" placeholder="Site Address" id="siteaddress"></input>
            <label for="siteaddress">Site Address</label>
          </div>
            <div class="col s12">
              <div class="row">
              <div class="input-field col s6">
                <input type="text" placeholder="City" id="sitecity"></input>
                <label for="sitecity">City</label>
              </div>
              <div class="input-field col s2">
                <input type="text" placeholder="State" id="sitestate"></input>
                <label for="sitecity">State</label>
              </div>
              <div class="input-field col s4">
                <input type="text" placeholder="Zip" id="sitezip"></input>
                <label for="sitecity">Zipcode</label>
              </div>
              </div>
            </div>
        </div>
      </div>
			<div class="section">
				<div class="row">
          <h5>Site Scenario</h5>
            <div class="input-field col s6">
              <select id="landuse">
                <option value="1">Unrestricted</option>
                <option value="2">Commercial/Industrial Use Onlys</option>
              </select>
              <label>Land Use</label>
            </div>
            <div class="input-field col s6">
              <select id="groundwaterutility">
                <option value="1">Drinking Water Resrouce</option>
                <option value="2">Nondrinking Water Resorce</option>
              </select>
              <label>Groundwater Utility</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
            <select id="distancetowater">
              <option value="1">&gt150m</option>
              <option value="2"> &le;150m</option>
            </select>
            <label>Distance To Nearest Surface Water Body</label>
          </div>
        </div>
      </div>
      <div class="section chemicalchooser">
				<div class="row">
					<h5>Select Contaminant</h5>
          <div class="input-field col s3">
            <select id="chemicalInputType">
              <option value="1">Name</option>
              <option value="2">CAS #</option>
            </select>
            <label>Input Type </label>
          </div>
          <div class="input-field col m6 s9">
             <select class="chemical">
               <option class="disabled">Choose Chemical</option>
              <%var chemchoices = JSON.parse(chemList)%>
              <%-chemchoices%>
             </select>
             <label>Contaminant</label>
          </div>
          <div class="input-field col m3 s12">
            <a class="waves-effect waves-light btn tooltipped" style="text-align:left" data-position="top" data-delay="50" data-tooltip="Add another chemical" id="addchemical"><i class="material-icons center">add</i></a>
          </div>
				</div>
				<!-- New Chemicals are inserted here -->
			</div>
			<div class="section sitedata">
			  <div class="row">
					<h5>Enter Site Data (Optional)</h5>
				</div>
				<div class ="row optionalsitedata">
				  <div class="input-field col s4 soil">
            <label>Soil (mg/kg)</label>
            <input type="number">
          </div>
          <div class="input-field col s4 groundwater">
            <label>Groundwater (ug/L)</label>
            <input type="number">
          </div>
          <div class="input-field col s4 soilvapor">
            <label>Soil Vapor (ug/m3)</label>
            <input type="number">
          </div>
				</div>
			</div>
			<div class="section">
			  <div class="row">
          <div class="col s4">
             <a class="waves-effect waves-light btn-large" style="text-align:center">Submit<i class="material-icons right">send</i></a>
         </div>
      </div>
			</div>
		</div>
	</div>
<%include partials/footer%>