<% include partials/header %>
    <div class="container maindisplay">
		<div class="row">
  			<div class="col m10 push-m1 section">
  			    <div class="infotitle infoblock">
  			        <h3>EAL Surfer Glossary</h3>
  			    </div>
  			    <div class="infotitle">
  			        <h5>Site Scenarios</h5>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Land Use: </span>Unrestricted land use includes single-family homes and high-density housing areas.  Also appropriate for other sensitive property uses, including schools, day care centers, medical facilities, etc.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Groundwater Utility: </span>Groundwater categorized as drinking water or nondrinking water resource.  See Section 2.4 of Volume 1 for determination of groundwater utility at a specific site.</p>
  			        </div>
  			    </div>
  			    <hr>
  			    <div class="infotitle">
  			        <h5>Soil EALs</h5>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Direct Exposure: </span>Address direct exposure and toxicity to humans.  Includes incidental ingestion, dermal contact and inhalation of vapors or dust particles in outdoor air.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Vapor Emissions To Indoor Air: </span>Address potential impacts to indoor air due to the intrusion of vapors from underlying, contaminated soil.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Terrestrial Ecological Impacts: </span>Address potential toxicity to terrestrial flora and fauna.  Site specific, ecological risk assessment recommended at sites where anthropogenic contamination identified and sensitive, terrestrial ecological habitats could be threatened.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Gross Contamination: </span>Address odor, nuisance, generation of explosive vapors and other, non-risk related hazards posed by heavily contaminated soil.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Leaching: </span>Address potential leaching of chemicals from soil and subsequent impact on first-encountered groundwater.  Action levels for metals not included (must be evaluated on a site-by-site basis).</p>
  			        </div>
  			    </div>
  			    <hr>
  			    <div class="infotitle">
  			        <h5>Groundwater EALs</h5>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Drinking Water (Toxicity): </span>Address potential toxicity to humans using the water as a drinking water resource.  Based on promulgated Primary Maximum Contaminant Levels (Primary MCLs) or equivalent.</p>
  			        </div>
  			    </div>
  			     <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Vapor Emissions To Indoor Air: </span>Address potential impacts to indoor air due to the intrusion of vapors from underlying, contaminated groundwater.</p>
  			        </div>
  			    </div>
  			     <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Discharges to Surface Water: </span>Address potential chronic impacts to aquatic organisms.  Promulgated chronic surface water standard or equivalent.</p>
  			        </div>
  			    </div>
  			     <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Gross Contamination: </span>Address odor, nuisance, generation of explosive vapors and other, non-risk related hazards posed by heavily contamniated groundwater.  For drinking water resources, Secondary Maximum Contaminant Level (Secondary MCL) or equivalent for taste and odor concerns also considered.</p>
  			        </div>
  			    </div>
  			    <hr>
  			    <div class="infotitle">
  			        <h5>Indoor Air and Soil Gas EALs</h5>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Indoor Air: </span>Address potential toxicity to humans using the water as a drinking water resource.  Based on promulgated Primary Maximum Contaminant Levels (Primary MCLs) or equivalent.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Indoor Air: </span>Address direct exposure to volatile chemicals via inhalation.</p>
  			        </div>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <p><span class="glossaryterm">Soil Gas: </span>Address intrusion of subsurface vapors into a building and subsequent impacts to indoor air.</p>
  			        </div>
  			    </div>
    		</div>
    	</div>
    </div>
<% include partials/footer %>

                