<% include partials/header %>
<div class="container displayarea">
    <div class="row admin" id="displaytitle">
        <h4>Tier 1 Environmental Action Levels Surfer</h4>
        <p>Hawai'i  Department of Health
        <br>(updated Summer 2016, rev Nov 2016)</p>
    </div>
		<div class="row">
    <!-- Notes / HU Display -->
		<div class="col s12 m4 push-m8 push-l10 infoblock">
			<h5>References</h5>
			<ul>
			    <li>HDOH, 2009, Technical Guidance Manual (2009 and updates): Hawai‘i Department of Health, Office of Hazard Evaluation and Emergency Response, <a href="http://www.hawaiidoh.org/">Hawaii DOH</a></li>
			    <br>
			    <li>HDOH 2016, Evaluation of Environmental Hazards at Sites with Contaminated Soil and Groundwater (Summer 2016): Hawai'i Department of Health, <a href="http://hawaii.gov/health/environmental/hazard/index.html"></a>Hazard Evaluation and Emergency Response</a></li>
			</ul>
		</div>
      <!--Form Display Area -->
		<div class="col s12 m8 pull-m4 pull-l2">
		    <p>"Instructions For Use of EALs and EAL Surfer
            <br>(Refer also to Volume 1, Section 2 of EHE document)"</p>
		    <p>Steps 1 through 3 refer to the EAL - Site Input Worksheet ("EAL Surfer - Tier 1 EALs")</p>
            <ol>
                 <div class="section">
                     <li>Input site Land Use, Depth of Impacted Soil and Groundwater Utility.  Check with overseeing agency to ensure that proper categories are selected.  "Unrestricted Land Use" category recommended for initial use at all sites to determine if future land use restrictions are needed. (Refer to Volume 1, Section 2.)</li>
                 </div>
                 <div class="section">
                    <li>Select chemical of potential concern.
                         <br>Surfer generates summary and detailed EALs for selected site scenario and chemical of concern.
                     </li>  
                 </div>
                
                 <div class="section">
                     <li>(optional): Input representative site chemical concentration in soil, groundwater and/or soil gas.  Surfer identifies if EALs exceeded.  Refer to Detailed EAL worksheet tab to tentatively identified environmental hazards.</li>
                 </div>
                 <div class="section">
                     <li>Laboratory method reporting limit takes precedence if greater than the EAL (assuming standard MRL for a commercial laboratory).  Natural background concentration of metals takes precedence if greater than the EAL. (Refer to Volume 1, Section 2.9).</li>
                 </div><div class="section">
                     <li>Determine vertical and lateral extent of soil and/or groundwater impacted above action levels to extent feasible. EALs may also be used as a guide for re-use of excavated soil.</li>
                 </div>
                 <div class="section">
                     <li>Prepare Environmental Hazard Evaluation (EHE) with recommendations for additional actions (see Chapter 3).  Identify potential environmental hazards.  Evaluate need for corrective actions (e.g., cleanup to Tier 1 EALs, advanced evaluation of tentatively identified hazards, development of alternative cleanup levels, long-term management of contamination, need for land use restrictions and other institutional and engineering controls, closure with no further action, etc.). Refer to Chapters 4 and 5 in Volume 1of EHE guidance document and teh HEER office Technical Guidance Manual (HDOH 2009).</li>
                 </div>
            </ol>
		</div>
	</div>
</div>
<% include partials/footer %>