<html>
  <head>
  <title>Welcome to EAL Surfer +</title>
  <link rel="stylesheet" type="text/css" href="/js/landingpage.css">
  </head>
  <body>
    <a href="/instructions"><canvas id="canvas" width="400" height="400"></canvas><a>
  </body>
  <script type="text/javascript" src="/js/landing.js"></script>
</html>