<html>
  <head>
  <title>Welcome to EAL Surfer +</title>
  <link rel="stylesheet" type="text/css" href="/js/landingpage.css">
  </head>
  <body>
    <div class="container">
      <canvas id="canvas" width="400" height="400"></canvas>
       <div id="bannertitle">
            <a href="/instructions"><h1>EAL <span style="font-family: Satisfy">Surfer<sup>+</sup></span> </h1></a>
        </div>
      </div>
  </body>
  <script type="text/javascript" src="/js/landing.js"></script>
</html>