<% include partials/header %>
    <div class="container maindisplay">
		<div class="row">
		    <div class="col m3 push-m9 infoblock">
            </div>
  			<div class="col m9 pull-m3 section">
    		</div>
    	</div>
    </div>
<% include partials/footer %>
