<% include partials/header %>
    <div class="container maindisplay">
		<div class="row">
  			<div class="col m10 push-m1 section">
  			    <div class="infotitle infoblock">
  			        <h3>EAL Surfer Key Updates</h3>
  			        <h6>(Last major updates Summer 2016, refer to Appendix 9 for details)</h6>
  			    </div>
  			    <div class="row">
  			        <div class="col">
  			            <ol>
  			                <li>Physiochemical parameter values and toxicity factors updated to reflect values used in May 2016 USEPA Regional Screening Levels guidance (USEPA 2016). No significant change to action levels for common contaminants. Refer to Volume 2, Appendix 8,  update memo for details.</li>
  			                <li>Added option for selection of chemicals by CAS number.</li>
  			                <li>Vapor intrusion action level models revised to reflect tropical climate conditions, including a higher indoor air exchange rate and lower vapor entry rate that expected for colder climates.</li>
  			                <li>Action levels for carcinogenic PAHs revised upwards to reflect a target cancer risk of 10-4 and take into account urban area background from auto exhaust and other anthropogenic sources.</li>
  			                <li>Clarifications to various issues added to text (e.g., background of lead action levels, "TPH" includes petroleum hydrocarbons and related metabolites/degradants, soil EALs not applicable to bedrock, vapor intrusion action levels not applicable outside of tropical climate regions, etc.).</li>
  			                <li>November 2016: Edits made to Summer 2016 updates to correct errors in default foc used for Csat, cadmium direct exposure action levles, phenol taste and odor threshold, links to mercury aquatic toxicity action levels, and links to Chemical Summary worksheet in the EAL Surfer.  Aquatic toxicity screening levels revised to reflect 2012 HAR ยง11-54-1 Water Quality Standards (affected dinitrotoluenes, antimony, ethylbenzene, phenol and toluene).	</li>
  			                <li>December 2016: Soil screening levels for 3-Dibromo 1,2 chloropropane and Dibromochloromethane revised to correct error in vapor intrusion model. This only affected the commercial/industrial soil action levels for these chemicals in Appendix 1, Table C-1b. This did not affect the Tier 1 EALs or the EAL Surfer.</li>
  			                <li>Revised January 2017 allow selection of chemical by CAS#.</li>
  			            </ol>
  			        </div>
  			    </div>
  			    <div class="row infoblock">
  			        <div class="infotitle">References</div>
  			        <div class="col m6 s12">
  			            <p>HDOH 2016, Evaluation of Environmental Hazards at Sites with Contaminated Soil and Groundwater (Summer 2016): Hawai'i Department of Health, <a href="http://hawaii.gov/health/environmental/hazard/index.html">Hazard Evaluation and Emergency Response</a></p>
  			        </div>
  			        <div class="col m6 s12">
  			            <p>USEPA, 2016, Screening Levels for Chemical Contaminants: <a href="http://www.epa.gov/region09/waste/sfund/prg/">U.S. Environmental Protection Agency</a>, May 2016, prepared by Oak Ridge National Laboratories</p>
  			        </div>
  			    </div>
    		</div>
    	</div>
    </div>
<% include partials/footer %>